<div class='download-curve group-section nopadding'>
  <div class="normal-title">每分钟下载曲线</div>
  <div>
    <span>选择日期：</span>
    <datatime-picker init-datatime='vm.checkdate' display-mode='date' class='date-picker' date-changed='vm.getData()'></datatime-picker>
    <span class='pull-right'>单日下载量：{{vm.onedayCount}}</span>
  </div>
  <highchart class='margin-top-30' config="vm.highchartsURL"></highchart>
</div>
<div class='update-policy group-section noppading'>
  <h3 class="normal-title">更新设置</h3>
  <md-button class="md-raised md-primary" ng-click="vm.saveUpdateSetting()">&nbsp;保存&nbsp;</md-button>
  <div class='min-update'>
    <span>限制每分钟更新次数：</span>
    <md-switch class='md-primary' ng-model="vm.limit" aria-label="limit" ng-disabled='vm.userInfo.userType!=="root"'></md-switch>
    <md-input-container md-no-float>
      <input ng-model="vm.limitCount" type="text" placeholder='请输入次数' ng-show='vm.limit' ng-disabled='vm.userInfo.userType!=="root"'>
    </md-input-container>
    <span class='error-tip' ng-show='vm.limit && vm.showError'>请输入正整数</span>
  </div>
  <div class='area-update'>
    <span class='area-title'>分区域更新设置：</span>
    <md-button class="md-raised md-primary" ng-click="vm.selectAll()">&nbsp;全选&nbsp;</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.deselectAll()">&nbsp;全不选&nbsp;</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.unselectAll()">&nbsp;反选&nbsp;</md-button>
    <div class='area-check'>
      <provinces ng-repeat="province in vm.provinces">
        <md-checkbox ng-model="province.value" aria-label="province" class="md-primary">
          {{ province.label }}
        </md-checkbox>
      </provinces>
    </div>
  </div>
</div>
