<div class="page-container">
  <div class="text-center" ng-hide="vm.updateInfos.length" style="margin-top: 32px;">
    没有数据
  </div>
  <div ng-show="vm.updateInfos.length">
    <div class="inline">
      <md-switch class="md-primary nopadding" style="margin-bottom: 14px" md-no-ink aria-label="switch test" ng-model="vm.showTest">
        <span class="normal-text">显示测试版本</span>
      </md-switch>
    </div>
    <div class="card-item" ng-repeat="updateInfo in vm.updateInfos">
      <div class="card-info text-center clearfix">
        <div class="pull-left"><span>源版本: </span> <span class="normal-text normal-size">{{ updateInfo.srcVersion }}</span></div>
        <span ng-show="vm.showTest"><span>测试版本</span> <span class="normal-text normal-size">{{ vm.showVersion(updateInfo.testTargetVersion) }}</span></span>
        <div class="pull-right"><span>目标版本: </span> <span class="normal-text normal-size">{{ vm.showVersion(updateInfo.targetVersion) }}</span></div>
      </div>
      <md-divider></md-divider>
      <div>
        <table class="table">
          <thead>
            <tr>
              <th>版本</th>
              <th>文件名</th>
              <th>文件大小</th>
              <th>上传时间</th>
              <th>测试</th>
              <th>发布</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="targetItem in updateInfo.list | orderBy: 'createdAt':true">
              <td style="min-width: 100px">{{ targetItem.targetVersion }}</td>
              <td style="min-width: 100px">{{ targetItem.fileName }}</td>
              <td style="min-width: 100px">{{ targetItem.fileSize | bytes}}</td>
              <td style="min-width: 150px">{{ targetItem.createdAt | date: 'yyyy-MM-dd H:mm'}}</td>
              <td>
                <md-switch class="nopadding md-primary"
                aria-label="toggle" md-no-ink ng-model="targetItem.testUpdatable" ng-change="vm.toggleTestUpdatable($event, targetItem, updateInfo)">
                </md-switch>
              </td>
              <td>
                <md-switch class="nopadding md-primary"
                aria-label="toggle" md-no-ink ng-model="targetItem.updatable" ng-change="vm.toggleUpdatable($event, targetItem, updateInfo)">
                </md-switch>
              </td>
              <td>
                <rs-dropdown>
                  <li ng-click="vm.showUpdateRuleDialog($event, targetItem)">
                    <a href="javascript:void(0)">
                      <i class="fa fa-cog"></i>
                      <span>更新配置</span>
                    </a>
                  </li>
                  <li ng-click="vm.showUpdateDescDialog($event, targetItem)">
                    <a href="javascript:void(0)">
                      <i class="fa fa-edit"></i>
                      <span>版本描述</span>
                    </a>
                  </li>
                  <li ng-click="vm.showDeleteUpdateDialog($event, targetItem)">
                    <a href="javascript:void(0)">
                      <i class="fa fa-times"></i>
                      <span>删除</span>
                    </a>
                  </li>
                </rs-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>

<!-- Update desc dialog -->
<div>
  <script type="text/ng-template" id="updateDescDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title">
            版本描述
          </div>
          <md-input-container flex>
            <textarea columns="2" ng-model="vm.updateDesc"></textarea>
          </md-input-container>
          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              保存
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Delete update dialog -->
<div>
  <script type="text/ng-template" id="deleteUpdateDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title">
            删除版本
          </div>
          <div style="margin-bottom: 16px;">
            确认删除版本 <span class="emphasis">{{ vm.targetItem.srcVersion }} - {{ vm.targetItem.targetVersion }} </span> ?
          </div>
          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              确定
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Update rule dialog -->
<div>
  <script type="text/ng-template" id="updateRuleDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title" ng-hide="vm.isTest">
            更新配置
          </div>
          <md-divider></md-divider>
          <div class="setting-container">
            <div class="setting-group">
              <label>静默下载</label>
              <div class="item">
                <md-switch class="md-primary nopadding"
                  aria-label="toggle" md-no-ink ng-model="vm.targetItem.isSilentDownload">
                </md-switch>
              </div>
            </div>
          </div>
          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              保存
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>
