<div class="clearfix">
  <md-select class="nopadding pull-left" placeholder="Pick" ng-model="vm.radioDate" ng-change='vm.getCheckDate()'> <md-select-label>{{ vm.date.start + ' 到 ' + vm.date.end }}</md-select-label>
    <md-option value="last30days"> 过去30天 </md-option>
    <md-option value="last7days"> 过去7天 </md-option>
    <md-option value="yesterday"> 昨天 </md-option>
    <md-option value="today"> 今天 </md-option>
  </md-select>

  <md-radio-group ng-model="vm.radioKeyDataType"  class="nopadding pull-right" ng-change='vm.getLineChartData()'>
    <md-radio-button ng-show="vm.isWindowsApp()" value="new_user_count" class="md-primary">新增装机量</md-radio-button>
    <md-radio-button ng-hide="vm.isWindowsApp()" value="new_user_count" class="md-primary">新增用户</md-radio-button>
    <md-radio-button ng-show="vm.isWindowsApp()" value="active_user_count" class="md-primary">活跃电脑数</md-radio-button>
    <md-radio-button ng-hide="vm.isWindowsApp()" value="active_user_count" class="md-primary">活跃用户</md-radio-button>
    <md-radio-button value="session_count" class="md-primary">启动次数</md-radio-button>
    <md-radio-button ng-show="vm.isWindowsApp()" value="accumulate_user_count" class="md-primary">累计装机量</md-radio-button>
    <md-radio-button ng-hide="vm.isWindowsApp()" value="accumulate_user_count" class="md-primary">累计用户</md-radio-button>
  </md-radio-group>
</div>

<!-- Key data linechart -->
<div>
  <highchart config="vm.chartConfig"></highchart>
</div>

<!-- Key data table -->
<div class="group-section" style="margin-top: 24px;">
  <div class="group-title">详细数据</div>
  <table class="table" ts-wrapper>
    <thead>
      <tr>
        <th>日期</th>
        <th ts-criteria="new_user_count|parseInt" ng-show="vm.isWindowsApp()">新增装机量</th>
        <th ts-criteria="new_user_count|parseInt" ng-hide="vm.isWindowsApp()">新增用户</th>
        <th ts-criteria="active_user_count|parseInt" ng-show="vm.isWindowsApp()">活跃电脑数</th>
        <th ts-criteria="active_user_count|parseInt" ng-hide="vm.isWindowsApp()">活跃用户</th>
        <th ts-criteria="session_count|parseInt">启动次数</th>
        <th ts-criteria="accumulate_user_count|parseInt" ng-show="vm.isWindowsApp()">累计装机量</th>
        <th ts-criteria="accumulate_user_count|parseInt" ng-hide="vm.isWindowsApp()">累计用户</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="specData in vm.tableData" ts-repeat>
        <td>{{ specData.date }}</td>
        <td>{{ specData.new_user_count }}</td>
        <td>{{ specData.active_user_count }}</td>
        <td>{{ specData.session_count }}</td>
        <td>{{ specData.accumulate_user_count }}</td>
      </tr>
    </tbody>
  </table>
</div>
