<md-dialog>
  <md-dialog-content>
    <div class="modal-container">
      <div class="group-section clearfix">
        <div class="group-title">
          删除版本
        </div>
        <div>
          确认删除版本 <span class="emphasis">{{ vm.versionCode }} ?
        </div>
        <div class="pull-right">
          <span flex></span>
          <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
            取消
          </md-button>
          <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
            确定
          </md-button>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
