<div class="wrapper main">
  <md-toolbar class="toolbar-tabs" style="min-width: 1200px;">
    <div class="md-toolbar-tools">
      <h2>
        {{ vm.product.name }}
        <md-button class="md-primary appkey-btn" ng-show="!vm.showAppKey" ng-click="vm.show()">
        &nbsp;>&nbsp;
        </md-button>
        <md-button class="md-primary appkey-btn" ng-show="vm.showAppKey" ng-click="vm.hide()">
          &nbsp;<&nbsp;
        </md-button>
        <span ng-show="vm.showAppKey">&nbsp;&nbsp;(appkey:&nbsp;{{ vm.product.appKey }})</span>
      </h2>
    </div>
  </md-toolbar>
  <div class="main-container">
    <nav class="sidebar">
      <ul>

        <li>
          <a>系统更新</a>
          <ul>
            <li ng-class="{active: vm.isActive('systemupdate', 'updatesetting')}">
              <a ui-sref=".updatesetting">更新配置</a>
            </li>
            <li ng-class="{active: vm.isActive('systemupdate', 'fileupload')}">
              <a ui-sref=".fileupload">版本上传</a>
            </li>
          </ul>
        </li>

        <li>
          <a>测试设置</a>
          <ul>
            <li ng-class="{active: vm.isActive('systemupdate', 'testdevice')}">
              <a ui-sref=".testdevice">测试设备</a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>
    <main class="main-section">
      <div ui-view></div>
    </main>
  </div>
</div>
