<div class="wrapper main">
  <md-toolbar class="toolbar-tabs">
    <div class="md-toolbar-tools">
      <h2>{{ vm.product.name }}</h2>
      <md-button class="md-primary appkey-btn" ng-show="!vm.showAppKey" ng-click="vm.show()">
        &nbsp;>&nbsp;
      </md-button>
      <md-button class="md-primary appkey-btn" ng-show="vm.showAppKey" ng-click="vm.hide()">
        &nbsp;<&nbsp;
      </md-button>
      <span ng-show="vm.showAppKey" class='appkey-animation'>&nbsp;&nbsp;(appkey:&nbsp;{{ vm.product.appKey }})</span>

      <md-input-container class='appkey-modify' ng-show="vm.showModify">
        <label></label>
        <input ng-model="vm.product.appKey">
      </md-input-container>
      <md-button class="md-primary" ng-click="vm.saveAppKey()" ng-show="vm.showModify"> 保存 </md-button>

      <span class='error-tip' ng-show="vm.showModify">{{ vm.errorTip }}</span>
      <span flex></span>
      <md-button class="md-primary" ng-click="vm.modifyAppKey()"> 修改AppKey </md-button>
    </div>
  </md-toolbar>
  <div class="main-container">
    <nav class="sidebar">
      <ul>
        <li>
          <a>系统更新</a>
          <ul>
            <li ng-class="{active: vm.isActive('systemupdate', 'updatesetting')}">
              <a ui-sref=".updatesetting({show_test: false})">升级策略</a>
            </li>
            <li ng-class="{active: vm.isActive('systemupdate', 'fileupload')}">
              <a ui-sref=".fileupload">上传文件</a>
            </li>
            <li ng-class="{active: vm.isActive('systemupdate', 'romsetting')}">
              <a ui-sref=".approm">更新设置</a>
            </li>
          </ul>
        </li>
        <li>
          <a>测试设置</a>
          <ul>
            <li ng-class="{active: vm.isActive('systemupdate', 'testdevice')}">
              <a ui-sref=".testdevice">测试设备</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="main-section">
      <div ui-view></div>
    </main>
  </div>
</div>
