<div class="wrapper main">
  <md-toolbar class="toolbar-tabs" style="min-width: 1200px;">
    <div class="md-toolbar-tools">
      <h2>
        {{ vm.app.name }}
      </h2>
    </div>
  </md-toolbar>
  <div class="main-container">
    <div class="main-fix-container">
      <div class="group-section nopadding">
        <div class="action">
          <md-button class="md-raised md-primary btn-lg" aria-label="add event" ng-click="vm.updateIps()">更新IP表</md-button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>IP地址</th>
              <th>编辑时间</th>
              <th>当前版本</th>
              <th>状态</th>
              <th>版本发布</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="ip in vm.ips">
              <td>{{ ip.ip }}</td>
              <td>{{ ip.updatedAt | date: 'yyyy-MM-dd H:mm'}}</td>
              <td>{{ ip.versionCode }}</td>
              <td>{{ vm.showPublishState(ip) }}<i class="icon-spinner icon-spin loading" ng-show="ip.waiting"></i></td>
              <td class="clickable" ng-click="vm.showPublishDialog($event, ip)">
                <span class="lg-size"><i class="fa fa-paper-plane"></i></span>
              </td>
              <td>
                <md-button ng-show="vm.isPackageRunning(ip) && !vm.isSelf()" class="md-raised md-accent"
                ng-click="vm.publishOpt($event, ip, 'stop')" aria-label="stop" ng-click="vm.showAddTestDeviceDialog($event)">停止</md-button>

                <md-button ng-show="vm.isPackageStoped(ip)" class="md-raised md-primary"
                ng-click="vm.publishOpt($event, ip, 'start')" aria-label="start" ng-click="vm.showAddTestDeviceDialog($event)">启动</md-button>

                <md-button ng-show="vm.isPackageRunning(ip)" class="md-raised md-primary"
                ng-click="vm.publishOpt($event, ip, 'restart')" aria-label="restart" ng-click="vm.showAddTestDeviceDialog($event)">重启</md-button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="group-section">
        <div class="action">
          <md-button class="md-raised md-primary btn-lg" aria-label="add event" ng-click="vm.showUploadDialog($event)">版本上传</md-button>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>版本</th>
              <th>创建时间</th>
              <!-- <th>上传路径</th> -->
              <!-- <th>发布路径</th> -->
              <th>状态</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="updateInfo in vm.updateInfos | orderBy: 'createdAt':true">
              <td style="min-width: 100px">version {{ updateInfo.versionCode }}</td>
              <td style="min-width: 100px">{{ updateInfo.createdAt | date: 'yyyy-MM-dd H:mm'}}</td>
              <!-- <td style="min-width: 100px">{{ updateInfo.uploadDir }}</td> -->
              <!-- <td style="min-width: 100px">{{ updateInfo.pubDir }}</td> -->
              <td style="min-width: 100px">{{ vm.showPackageState(updateInfo) }}</td>
              <td>
                <rs-dropdown>
                  <li ng-hide="vm.isPackageInstalled(updateInfo)" ng-click="vm.installPackage($event, updateInfo)">
                    <a href="javascript:void(0)">
                      <i class="fa fa-coffee"></i>
                      <span>安装</span>
                    </a>
                  </li>
                  <li ng-click="vm.showUpdateDescDialog($event, updateInfo)">
                    <a href="javascript:void(0)">
                      <i class="fa fa-edit"></i>
                      <span>版本描述</span>
                    </a>
                  </li>
                  <li ng-click="vm.showDeleteUpdateDialog($event, updateInfo)">
                    <a href="javascript:void(0)">
                      <i class="fa fa-times"></i>
                      <span>删除</span>
                    </a>
                  </li>
                </rs-dropdown>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Publish dialog -->
<div>
  <script type="text/ng-template" id="publishDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix" ng-hide="vm.isPublishing">

          <div class="group-title">
            发布配置
          </div>
          <md-divider></md-divider>

          <div class="setting-container">
            <div class="setting-group">
              <label>发布版本</label>
              <div class="item">
                <select class="nopadding" placeholder="选择版本" ng-model="vm.versionCode">
                  <option ng-repeat="version in vm.versions">{{ version }}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="error" style="margin-bottom: 16px;">
            {{ vm.errorMessage }}
          </div>

          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              发布
            </md-button>
          </div>

        </div>

        <div class="group-section clearfix" ng-show="vm.isPublishing && !vm.isDone">
          <div class="group-title">
            正在发布
          </div>
          <md-divider></md-divider>
          <div layout="row" layout-sm="column" layout-align="space-around" style="margin: 24px;">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>

        <div class="group-section clearfix" ng-show="vm.isDone">
          <div layout="row" layout-sm="column" layout-align="space-around" style="margin: 24px;">
            <span ng-hide="vm.isError" class="xlg-size emphasis">发布成功!</span>
            <span ng-show="vm.isError" class="xlg-size error">发布失败!</span>
          </div>
          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.hide()">
              确定
            </md-button>
          </div>
        </div>

      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Update desc dialog -->
<div>
  <script type="text/ng-template" id="updateDescDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title">
            更新描述
          </div>
          <md-input-container flex>
            <textarea columns="2" ng-model="vm.versionDesc"></textarea>
          </md-input-container>
          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              保存
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Delete update dialog -->
<div>
  <script type="text/ng-template" id="deleteUpdateDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title">
            删除版本
          </div>
          <div>
            确认删除版本 <span class="emphasis">{{ vm.versionCode }} </span>?
          </div>
          <div class="pull-right">
            <span flex></span>
            <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              确定
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Loadging dialog -->
<div>
  <script type="text/ng-template" id="loadingDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title">
            正在处理
          </div>
          <md-divider></md-divider>
          <div layout="row" layout-sm="column" layout-align="space-around" style="margin: 24px;">
            <md-progress-circular md-mode="indeterminate"></md-progress-circular>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Upload dialog -->
<div>
  <script type="text/ng-template" id="uploadDialog.html">
  <md-dialog>
    <md-dialog-content>
    <div class="modal-container-lg">

      <div class="group-section" style="margin: 0 auto;">
        <div class="group-title">
          文件上传
        </div>
        <rs-file-uploader ngf-select ngf-change="vm.onFileSelect($files)"
            file="vm.uploadData.file">
        </rs-file-uploader>
      </div>

      <div class="group-section">
        <div class="group-title">
          版本描述
        </div>
        <md-input-container flex>
          <textarea columns="2" ng-model="vm.uploadData.versionDesc"></textarea>
        </md-input-container>
      </div>

      <div class="error" style="margin-bottom: 10px;">
        {{ vm.errorMessage }}
      </div>

      <div class="group-section clearfix">
        <div class="pull-right">
          <span flex></span>
          <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
            取消
          </md-button>
          <md-button class="md-raised md-primary btn-lg" ng-click="vm.upload()">
            上传
          </md-button>
        </div>
      </div>

    </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>

<!-- Upload progress dialog -->
<div>
  <script type="text/ng-template" id="uploadProgressDialog.html">
  <md-dialog>
    <md-dialog-content>
      <div class="modal-container">
        <div class="group-section clearfix">
          <div class="group-title">
            文件上传
          </div>
          <div class="group-section clearfix">
            <md-progress-linear md-mode="determinate" value="{{ vm.progress }}"></md-progress-linear>
            <div class="normal-text pull-right" style="margin-top: 10px;">
              {{ vm.progress }}%
            </div>
          </div>
          <div class="pull-right">
            <span class="error" ng-show="vm.isError" style="margin-right: 30px;">
              上传错误，请重新上传
            </span>
            <span flex></span>
            <md-button ng-show="!vm.isSuccess" class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
              取消
            </md-button>
            <md-button ng-show="vm.isSuccess" class="md-raised md-primary btn-lg" ng-click="vm.ok()">
              确定
            </md-button>
          </div>
        </div>
      </div>
    </md-dialog-content>
  </md-dialog>
  </script>
</div>
