<div>
  <span>起始日期：</span>
  <datatime-picker init-datatime='vm.startdate' display-mode='date'></datatime-picker>
  <span class='margin-left-30'>截止日期：</span>
  <datatime-picker init-datatime='vm.enddate' display-mode='date'></datatime-picker>
  <md-button class="md-raised md-primary margin-left-30" ng-click="vm.getData()">&nbsp;查询&nbsp;</md-button>
  <div class='pull-right'>
    <span>快速查询：</span>
    <md-select class="nopadding normal-size normal-text" placeholder="Pick" ng-model="vm.radioChecked" ng-change='vm.getCheckDate()'>
      <md-select-label>{{ vm.startdate + ' 到 ' + vm.enddate }}</md-select-label>
      <md-option value="last30days"> 过去30天 </md-option>
      <md-option value="last7days"> 过去7天 </md-option>
      <md-option value="yesterday"> 昨天 </md-option>
      <md-option value="today"> 今天 </md-option>
    </md-select>
  </div>
</div>
<div>
  <table class="table margin-top-30" ts-wrapper>
    <thead>
      <tr>
        <th ts-criteria="dl|lowercase">页面URL</th>
        <th ts-criteria="pv|parseInt" ts-default='descending'>浏览量(PV)</th>
        <th ts-criteria="uv|parseInt">独立访客(UV)</th>
        <th ts-criteria="ip|parseInt">独立IP(IP)</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in vm.datas" ts-repeat>
        <td>{{ x.dl }}</td>
        <td>{{ x.pv }}</td>
        <td>{{ x.uv }}</td>
        <td>{{ x.ip }}</td>
      </tr>
    </tbody>
  </table>
</div>
