<div class="wrapper main">
  <md-toolbar class="toolbar-tabs">
    <div class="md-toolbar-tools">

  <!--     <div>
        <md-button class="md-icon-button tabs-item">
          <i class="fa fa-puzzle-piece"></i>
          <span class="text">应用开发</span>
        </md-button>
        <md-button class="md-icon-button tabs-item">
        <i class="fa fa-cloud-upload"></i>
          <span class="text">系统升级</span>
        </md-button>
        <md-button class="md-icon-button tabs-item">
          <i class="fa fa-wordpress"></i>
          <span class="text">WEB包发布</span>
        </md-button>
        <md-button class="md-icon-button tabs-item">
          <i class="fa fa-bar-chart-o"></i>
          <span class="text">页面统计</span>
        </md-button>
        <md-button class="md-icon-button tabs-item">
          <i class="fa fa-bullseye"></i>
          <span class="text">接口监控</span>
        </md-button>
      </div> -->

      <md-input-container md-no-float class="search">
        <md-icon class="icon" md-svg-src="assets/images/material-action/ic_search_24px.svg"></md-icon>
        <input ng-model="vm.searchText" type="text" placeholder="搜索产品">
      </md-input-container>
      <span flex></span>
      <md-button class="md-raised md-primary" ng-click="vm.gotoAddProduct()"
          style="width: 78px; margin-right: 20px">
        创建
      </md-button>
    </div>
  </md-toolbar>
  <div class="products-container">
    <div class="product-card"
        ng-repeat="product in vm.products | filter:vm.searchText | orderBy: 'createdAt':true">

    <div>

      <div class="tooltips">
        <md-icon md-svg-src="assets/images/material-action/ic_info_24px.svg"></md-icon>
        <div class="popover">
          {{ product.description }}
        </div>
      </div>

      <span class="more">
        <rs-dropdown>
          <li ng-click="vm.showEditProductDialog($event, product)">
            <a href="javascript:void(0)">
              <i class="fa fa-edit"></i>
              <span>编辑</span>
            </a>
          </li>
          <li ng-click="vm.showDeleteProductDialog($event, product)">
            <a href="javascript:void(0)">
              <i class="fa fa-times"></i>
              <span>删除</span>
            </a>
          </li>
        </rs-dropdown>
      </span>

      <div class="type">{{ vm.showPlatformName(product.platform) }}</div>
    </div>

    <div class="text-center">
      <h2 class="name" ng-click="vm.enterProduct(product)">{{ product.name }}</h2>
    </div>

    </div>
  </div>
</div>


<!-- Edit product dialog -->
<div>
  <script type="text/ng-template" id="editProductDialog.html">
    <md-dialog>
      <md-dialog-content>
        <div class="modal-container">
          <div class="group-section clearfix">
            <div class="group-title">
              编辑产品
            </div>
            <md-input-container flex ng-show="vm.isWebApp()">
              <label>产品名</label>
              <input ng-model="vm.product.name" disabled>
            </md-input-container>
            <md-input-container flex ng-hide="vm.isWebApp()">
              <label>产品名</label>
              <input ng-model="vm.product.name">
            </md-input-container>
            <md-input-container flex>
              <label>产品描述</label>
              <input ng-model="vm.product.description">
            </md-input-container>
            <div class="error" style="margin-bottom: 16px;">
              {{ vm.errorMessage }}
            </div>
            <div class="pull-right">
              <span flex></span>
              <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
                取消
              </md-button>
              <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
                保存
              </md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </script>
</div>

<!-- Delete product dialog -->
<div>
  <script type="text/ng-template" id="deleteProductDialog.html">
    <md-dialog>
      <md-dialog-content>
        <div class="modal-container">
          <div class="group-section clearfix">
            <div class="group-title">
              删除产品
            </div>
            <div>
              确认删除 <span class="emphasis">{{ vm.product.name }} ?
            </div>
            <div class="error" style="margin: 16px 0px;">
              {{ vm.errorMessage }}
            </div>
            <div class="pull-right">
              <span flex></span>
              <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
                取消
              </md-button>
              <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
                确定
              </md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </script>
</div>
