<md-dialog>
  <md-dialog-content>
    <div class="modal-container">
      <div class="group-section clearfix">
        <div class="group-title">
          更新描述
        </div>
        <md-input-container flex>
          <textarea columns="2" ng-model="vm.updateDesc"></textarea>
        </md-input-container>
        <div class="pull-right">
          <span flex></span>
          <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
            取消
          </md-button>
          <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
            保存
          </md-button>
        </div>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
