<div class='error-trend'>
  <md-select placeholder="Pick" class="normal-text" ng-model="vm.selectedDate" ng-change='vm.selectDateChanged()' style="margin-bottom: 10px;">
    <md-select-label>{{ vm.selectDate[vm.selectedDate].start + ' 到 ' + vm.selectDate[vm.selectedDate].end }}</md-select-label>
    <md-option value="0"> {{ vm.selectDate[0].label }} </md-option>
    <md-option value="1"> {{ vm.selectDate[1].label }} </md-option>
    <md-option value="2"> {{ vm.selectDate[2].label }} </md-option>
    <md-option value="3"> {{ vm.selectDate[3].label }} </md-option>
    <md-option value="4"> {{ vm.selectDate[4].label }} </md-option>
  </md-select>
  <br>
  <div class='error-char-title'>
    <h3>错误分析</h3>
    <md-radio-group ng-model="vm.radioChecked" ng-change='vm.selectRadioChanged()'>
      <md-radio-button value="crash_count" class="md-primary">错误数</md-radio-button>
      <md-radio-button value="crash_count_per_session" class="md-primary">错误数/启动数</md-radio-button>
    </md-radio-group>
  </div>

  <div>
    <highchart id="chart" class='margin-top-30' config="vm.highchartsNG"></highchart>
  </div>

  <div class='error-table'>
    <h3>详细数据</h3>
    <table class="table" ts-wrapper>
      <thead>
        <tr>
          <th ts-criteria="date|lowercase">日期</th>
          <th ts-criteria="crash_count|parseInt" ts-default='descending'>错误数</th>
          <th ts-criteria="crash_count_per_session|parseFloat">错误率</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="x in vm.tableDatas" ts-repeat>
          <td>{{ x.date }}</td>
          <td>{{ x.crash_count }}</td>
          <td>{{ x.crash_count_per_session }}</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
