.addproduct-container {
  margin: 32px 0 60px 0;

  .main {
    width: 600px;
    margin: 0 auto;
    padding-bottom: 10px;
    border: 1px solid #eee;

    section {
      padding: 12px 16px;
    }
  }

  #create {
    float: right;
    width: 70px;
  }

  .label {
    display: inline-block;
    color: #bababa;
    font-size: 16px;
  }

}

md-radio-group {
  border: none;
}

#product-type {
  margin-left: 32px;
  height: 76px;
  box-sizing: border-box;

  label.radio-inline {
    text-align: center;
    box-sizing: border-box;

    i {
      margin-right: 16px;
      cursor: pointer;
      color: #ccc;
      display: inline;
      box-sizing: border-box;
      width: 100px;
      line-height: 40px;
      height: 42px;
      font-size: 18px;
      border: 1px solid #ccc;
      border-radius: 3px;
      float: left;
      span {
        color: #ccc;
        margin-left: 6px;
        font-size: 14px;
      }
    }
    input {
      display: none;
      &:checked {
        ~ i {
          color: white;
          background-color: $primary-color;
          border: none;
          span {
            color: white;
            background-color: $primary-color;
            border: none;
          }
        }
      }
    }
  }

}

