.error-trend {

  h3 {
    margin: 5px;
  }

  .error-char-title {
    position: relative;

    md-radio-group {
      position: absolute;
      right: 0px;
      top: -10px;
    }
  }
}

.error-lists {
  h3 {
    margin: 5px;
  }
}
