.btn {
  text-decoration: none;
  color: #fff;
  background-color: $primary-color;
  text-align: center;
  letter-spacing:.5px;
  transition: .2s ease-out;
  cursor: pointer;

  border: none;
  border-radius: 3px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

  &:hover {
    background-color: $primary-light;
  }
}
