.margin-left-auto {
  margin-left: auto;
}

.little-tip {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#copy-ca-dialog {
  width: 30%;
  min-width: 450px;
}

.pa-card {
  width: 31%;
  height: 150px;
  display: inline-block;
  background: rgba(39,123,221,0.9);
  color: white;
  margin: 1%;
}

md-card-content {
  text-align: center;
}
