.margin-left-auto {
  margin-left: auto;
}

.margin-left-30 {
  margin-left: 30px;
}
.margin-right-30 {
  margin-right: 30px;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}

.little-tip {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#copy-ca-dialog {
  width: 30%;
  min-width: 450px;
}

.pa-card {
  width: 31%;
  height: 150px;
  display: inline-block;
  background: rgba(39,123,221,0.9);
  color: white;
  margin: 1%;
}

md-card-content {
  text-align: center;
}

.pa-pull-right {
  float: right !important;
}

md-radio-group, md-radio-button {
  margin: 5px;
  display: inline-block;
}

.time-date > .display > .title {
  background-color: #176fdd;
}

.time-date .buttons button span,
.time-date button, .time-date .button,
.time-date > .control > .slider > .date-control > .days .day-cell.today span{
  color: #277bdd;
}
.time-date.full-mode > .buttons > button span {
  color: white;
}

.time-date > .display > .content,
.time-date > .control > .full-title,
.time-date.full-mode > .buttons,
.time-date > .control > .slider > .date-control > .days .day-cell.selected,
.time-date > .control > .slider > .date-control > .days .day-cell:hover {
  background-color: #277bdd;
}

table .tablesort-asc, table .tablesort-desc {
  background-color: transparent;
  color: #277bdd !important;
}

.content-info > div {
  display: inline-block;
  vertical-align: top;
}

.content-chart {
  width: 38%;
}

.content-highcharts {
  height: 350px;
}

.highcharts-clientinfo{
  width: 33%;
  height: 280px;
}

.highcharts-clientinfo .highcharts-container {
  overflow: visible !important;

  & svg {
    overflow: visible !important;
  }
}

.content-table {
  width: 60%;
}

.highchart-pv {
  position: absolute;
  z-index: 1;
  right: 25px;
  top: 170px;
}

