.appkey-btn {
  font-size: 12px !important;
  padding: 5px 3px 3px;
  margin-left: 10px;
}

.search-div {
  position: absolute;
  top: 60px;
  z-index: 99;
  right: 10px;
  width: 300px;

  md-input-container:not(.md-input-has-value) input:not(:focus) {
    color: #BBB;
  }

  .clear-btn {
    font-size: 12px;
  }
}

.search-input {
  display: inline-block;
  padding: 0px;
  vertical-align: bottom;
  width: 240px;

  input {
    width: 100%;
  }
}

.long-text {
  word-break:break-all;
  word-wrap:break-all;
}

.alter-table > thead > tr > th {
  padding: 16px 0px 16px 16px !important;
}

.tree-grid > thead > tr > th {
  padding: 16px 0px 16px 16px !important;
}

md-content.alter-pagetabs{
  padding-left: 100px;
  padding-right: 100px;
}

md-tabs {
  overflow: hidden !important;
}

md-tabs.md-default-theme md-tabs-ink-bar {
  background-color: #277bdd;
  color: #277bdd;
}

.tree-grid-animate-enter,
.tree-grid-row.ng-enter {
  transition : 100ms linear all;
  position : relative;
  display: table-row;
  opacity : 0;
  max-height : 0;
}

.tree-grid-animate-leave,
.tree-grid-row.ng-leave {
  transition : 100ms linear all;
  position : relative;
  display: table-row;
  height : 30px;
  max-height : 30px;
  opacity : 1;
}

.alert-tool-bar div .md-icon-button,
td .md-icon-button {
  width: 30px;
  height: 30px;
  padding: 3px;

  ng-md-icon {
    fill: rgb(33,150,243);
  }
}

.expand-td {
  width: 30px;
  padding-left: 1px !important;
  padding-right: 1px !important;
  cursor: pointer;
}

.child-tr {
  background: #f7f7f7;
}

.child-td {
  background: white;
  cursor: auto;
}

.alert-dialog{
  width: 40%;
  min-width: 480px;

  .alert-dialog-form {
    padding: 10px 30px 30px;
  }
}

.contacts {
  h3 {
    display: inline-block;
    margin: 0px;
  }

  button {
    width: 30px;
    height: 30px;
    padding: 3px;
    vertical-align: bottom;
    margin-left: 20px;

    ng-md-icon {
      fill: rgb(33,150,243);
    }
  }
}

.settings {
  h3 {
    margin-left: 15px;
  }
}

.select-public {
  md-checkbox {
    margin-left: 0px;
    display: inline-block;
    margin-right: 20px;
  }
}
