@import '_prefers';
@import '_h5bp';
@import '_material';
@import '_login';
@import '_header';
@import '_products';
@import '_addproduct';
@import '_pageanalytic';
@import 'components/components';
@import '_apistat';
@import '_servicemonitor';
@import '_usermanager';
@import '_erroranalytic';
@import '_userprofile';

html,
body {
  width: 100%;
  height: 100%;
  min-width: $min-width;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  width: 100%;
}

.inline {
  display: inline-block;
}

.wrapper {
  height: 100%;
}

.clearfix:after {
  content: " "; /* Older browser do not support empty content */
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.error {
  color: #EF2B29;
}

.text-center {
  text-align: center;
}

nav.sidebar {
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 24px 32px 0px 0px;
  width: $sidebar-width;

  ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
  }

  & > ul {

    a {
      border-right: 1px solid #eee;
      text-decoration: none;
      color: #999;
      font-size: 15px;
      width: $sidebar-width;
      box-sizing: border-box;
      padding: 2px 12px 2px 16px;
      padding-left: 46px;
      font-weight: 500;
      display: inline-block;

      &:hover {
        color: #666;
        border-right: 1px solid #999;
      }

    }

    & > li {
      display: block;
      margin-bottom: 14px;

      & > a {
        border-right: none;
        font-size: 17px;
        font-weight: bold;
        color: #bbb;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 32px;
        cursor: default;
        display: inline-block;

        &:hover {
          color: #bbb;
          border-right: none;
        }
      }

      & > ul {

        & > li {
          &.active {
            a {
              color: $primary-color;
              border-right: 1px solid $primary-color;
              font-weight: 700;
            }
          }

          &:first-child {
            margin-top: 4px;
          }
        }

      }

    }
  }
}

body {
  position: relative;
  // font-family: "Roboto Condensed", "Microsoft Yahei", sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

.main {
  padding-top: $header-height;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
}

.main-container {

  main.main-section {
    margin-left: $sidebar-width;
    padding: 18px 24px;
  }
}

.main-fix-container {
  margin: auto;
  width: 960px;
  padding: 18px 24px;
}

.product-wrapper {
  position: absolute;
  top: 0;
}

.page-sm-container {
  padding: 18px;
}

.page-container {
}

.sm-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 610px;
  margin: 0 auto;
  padding: 24px 90px;
}

.group-section {
  position: relative;
  padding: 14px 0;

  .group-title {
    font-weight: 700;
    font-size: 18px;
    color: $primary-color;
    margin-bottom: 10px;
  }

  &.group-border {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 18px 30px;
  }

  &.group-padding {
    padding: 8px 30px;
  }
}

.extra-width {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-md {
  width: 50px;
}

.btn-lg {
  width: 80px;
}

.frame-title {
  width: 100%;
}

.nopadding {
  margin: 0;
  padding: 0;
}

.modal-container {
  box-sizing: border-box;
  padding: 12px 32px;
  width: 460px;
}

.modal-container-lg {
  box-sizing: border-box;
  padding: 24px 68px;
  width: 560px;
  margin: 0 auto;
}

.emphasis {
  color: $primary-color;
}

.setting-container {
  margin-top: 16px;
  margin-bottom: 16px;

  .setting-group {
    padding: 18px 16px;

    label {
      vertical-align: middle;
      color: $text-color;
    }

    .item {
      float: right;
      vertical-align: middle;
    }
  }
}

.normal-text {
  color: $text-color;
}

.normal-size {
  font-size: 14px;
}

.lg-size {
  font-size: 18px;
}

.xlg-size {
  font-size: 26px;
  font-weight: 700;
}

.sm-size {
  font-size: 12px;
}

.table
tr {
  td.clickable {
    cursor: pointer;
    color: $primary-color;

    &:hover {
      color: $primary-hover;
    }
  }
}

.space-md {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-title {
  font-weight: 700;
  font-size: 18px;
  color: $primary-color;
}

.card-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 32px;

  .card-info {
    padding: 12px 24px;
    color: $primary-color;
  }
}

.inline {
  display: inline-block;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/assets/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/assets/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/assets/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/assets/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/assets/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/assets/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/assets/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/assets/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/assets/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/assets/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/assets/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/assets/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
