<div class="myou-login">
  <div class="login-container md-whiteframe-z1">

    <div class="login-title">
      <div class="title-icon">
        <img class="icon" src="assets/images/m-white-128.png" alt="myou">
      </div>
      <h1 class="title-text md-headline">萌友</h1>
    </div>

    <form name="loginForm" novalidate ng-submit="vm.login(loginForm.$valid, $event)">
      <md-input-container md-no-float class="md-default-theme form-group">
        <md-icon class="icon"
            md-svg-src="assets/images/material-action/ic_account_circle_24px.svg"
            alt="account">
        </md-icon>
        <input type="email" name="email" placeholder="邮箱地址" tabindex="0"
            required ng-model="vm.email">
        <div ng-show="loginForm.$submitted || loginForm.email.$touched"
            ng-messages="loginForm.email.$error">
          <div ng-show="loginForm.email.$error.required"
              class="error" ng-message="required">
            请输入邮箱
          </div>
          <div ng-show="loginForm.email.$error.email"
              class="error" ng-message="email">
            邮箱格式不正确
          </div>
        </div>
      </md-input-container>

      <md-input-container md-no-float class="md-default-theme form-group">
        <md-icon class="icon"
            md-svg-src="assets/images/material-action/ic_lock_24px.svg"
            alt="password">
        </md-icon>
        <input type="password" name="password" required
            placeholder="密码" ng-model="vm.password">
        <div ng-show="loginForm.$submitted || loginForm.password.$touched"
            ng-messages="loginForm.password.$error">
          <div ng-show="loginForm.password.$error.required"
              class="error" ng-message="required">
            请输入密码
          </div>
        </div>
      </md-input-container>

      <md-checkbox class="login-check md-primary nopadding" ng-model="vm.autoLogin">
        <span class="text">下次自动登录</span>
      </md-checkbox>

      <md-button class="md-raised md-primary md-default-theme login-btn">
        登陆
      </md-button>

    </form>
</div>
