<div class="clearfix">
  <md-select class="nopadding pull-right normal-size normal-text" placeholder="Pick" ng-model="vm.radioDate" ng-change='vm.getCheckDate()'> <md-select-label>{{ vm.date.start + ' 到 ' + vm.date.end }}</md-select-label>
    <md-option value="last30days"> 过去30天 </md-option>
    <md-option value="last7days"> 过去7天 </md-option>
    <md-option value="yesterday"> 昨天 </md-option>
    <md-option value="today"> 今天 </md-option>
  </md-select>
</div>

<div class="group-section">
  <table class="table">
    <thead>
      <tr>
        <th>首次启动日</th>
        <th ng-hide="vm.isWindowsApp()">新增用户</th>
        <th ng-show="vm.isWindowsApp()">新增装机量</th>
        <th>次日</th>
        <th>2天后</th>
        <th>3天后</th>
        <th>4天后</th>
        <th>5天后</th>
        <th>6天后</th>
        <th>7天后</th>
        <th>14天后</th>
        <th>30天后</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="retainData in vm.tableData">
        <td>{{ retainData.date }}</td>
        <td>{{ retainData.new_user_count }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_1) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_2) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_3) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_4) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_5) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_6) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_7) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_14) }}</td>
        <td>{{ vm.formatTableData(retainData.user_retain_rate_30) }}</td>
      </tr>
    </tbody>
  </table>
</div>
