<div class="group-section nopadding">
  <div class="group-title">
    事件管理
    <md-button class="md-raised md-primary" ng-click="vm.showAddEventDialog($event)">添加</md-button>
  </div>
  <div class="action">

  </div>
  <div>
    <table class="table" ts-wrapper>
      <thead>
        <tr>
          <th ts-criteria="event_id|lowercase">事件id</th>
          <th ts-criteria="event_name|lowercase">事件名称</th>
          <th ts-criteria="yesterday_event_count|parseInt">昨日消息数</th>
          <th ts-criteria="today_event_count|parseInt">今日消息数</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="event in vm.events" ts-repeat>
          <td>{{ event.event_id }}</td>
          <td>{{ event.event_name }}</td>
          <td>{{ event.yesterday_event_count }}</td>
          <td>{{ event.today_event_count }}</td>
          <td>
            <rs-dropdown>
              <li ng-click="vm.showEditEventDialog($event, event)">
                <a href="javascript:void(0)">
                  <i class="fa fa-edit"></i>
                  <span>编辑</span>
                </a>
              </li>
              <li ng-click="vm.showDeleteEventDialog($event, event)">
                <a href="javascript:void(0)">
                  <i class="fa fa-times"></i>
                  <span>删除</span>
                </a>
              </li>
            </rs-dropdown>
          </td>
        </tr>
      </tbody>

    </table>

  </div>
</div>

<!-- Add event dialog -->
<div>
  <script type="text/ng-template" id="addCustomEventDialog.html">
    <md-dialog>
      <md-dialog-content>
        <div class="modal-container">
          <div class="group-section clearfix">
            <div class="group-title">
              添加事件
            </div>
            <md-input-container flex>
              <label>事件id</label>
              <input ng-model="vm.event.event_id" required>
            </md-input-container>
            <md-input-container flex>
              <label>事件名称</label>
              <input ng-model="vm.event.event_name" required>
            </md-input-container>
            <div class="error" style="margin-bottom: 16px;">
              {{ vm.errorMessage }}
            </div>
            <div class="pull-right">
              <span flex></span>
              <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
                取消
              </md-button>
              <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
                保存
              </md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </script>
</div>

<!-- Edit event dialog -->
<div>
  <script type="text/ng-template" id="editCustomEventDialog.html">
    <md-dialog>
      <md-dialog-content>
        <div class="modal-container">
          <div class="group-section clearfix">
            <div class="group-title">
              编辑事件
            </div>
            <md-input-container flex>
              <label>事件id</label>
              <input ng-model="vm.event.event_id" disabled required>
            </md-input-container>
            <md-input-container flex>
              <label>事件名称</label>
              <input ng-model="vm.event.event_name" required>
            </md-input-container>
            <div class="error" style="margin-bottom: 16px;">
              {{ vm.errorMessage }}
            </div>
            <div class="pull-right">
              <span flex></span>
              <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
                取消
              </md-button>
              <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
                保存
              </md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </script>
</div>

<!-- Delete event dialog -->
<div>
  <script type="text/ng-template" id="deleteCustomEventDialog.html">
    <md-dialog>
      <md-dialog-content>
        <div class="modal-container">
          <div class="group-section clearfix">
            <div class="group-title">
              删除事件
            </div>
            <div>
              确认删除 <span class="emphasis">{{ vm.event.event_name }} ?
            </div>
            <div class="error" style="margin: 16px 0px;">
              {{ vm.errorMessage }}
            </div>
            <div class="pull-right">
              <span flex></span>
              <md-button class="md-raised md-accent btn-lg" ng-click="vm.cancel()">
                取消
              </md-button>
              <md-button class="md-raised md-primary btn-lg" ng-click="vm.ok()">
                确定
              </md-button>
            </div>
          </div>
        </div>
      </md-dialog-content>
    </md-dialog>
  </script>
</div>
