<div class="wrapper main">
  <md-toolbar class="toolbar-tabs">
    <div class="md-toolbar-tools">
      <h2>{{ vm.product.name }}</h2>
      <md-button class="md-primary appkey-btn" ng-show="!vm.showAppKey" ng-click="vm.show()">
        &nbsp;>&nbsp;
      </md-button>
      <md-button class="md-primary appkey-btn" ng-show="vm.showAppKey" ng-click="vm.hide()">
        &nbsp;<&nbsp;
      </md-button>
      <span ng-show="vm.showAppKey" class='appkey-animation'>&nbsp;&nbsp;(appkey:&nbsp;{{ vm.product.appKey }})</span>

      <md-input-container class='appkey-modify' ng-show="vm.showModify">
        <label></label>
        <input ng-model="vm.product.appKey">
      </md-input-container>
      <md-button class="md-primary" ng-click="vm.saveAppKey()" ng-show="vm.showModify"> 保存 </md-button>

      <span class='error-tip' ng-show="vm.showModify">{{ vm.errorTip }}</span>
      <span flex></span>
      <md-button class="md-primary" ng-click="vm.modifyAppKey()"> 修改AppKey </md-button>
    </div>
  </md-toolbar>
  <div class="main-container">
    <nav class="sidebar">
      <ul>
        <li>
          <a>应用更新</a>
          <ul>
            <li ng-class="{active: vm.isActive('appdevelop', 'updatesetting')}">
              <a ui-sref=".updatesetting">升级策略</a>
            </li>
            <li ng-class="{active: vm.isActive('appdevelop', 'fileupload')}">
              <a ui-sref=".fileupload">上传文件</a>
            </li>
            <li ng-class="{active: vm.isActive('appdevelop', 'appsetting')}">
              <a ui-sref=".approm">更新设置</a>
            </li>
          </ul>
        </li>
        <li>
          <a>数据分析</a>
          <ul>
            <li ng-class="{active: vm.isActive('appdevelop', 'keydata')}">
              <a ui-sref=".keydata({stats: 'new_user_count', selected_date: 'last7days'})">关键数据</a>
            </li>
            <li ng-class="{active: vm.isActive('appdevelop', 'versiondistribute')}">
              <a ui-sref=".versiondistribute({api_stat_date: vm.today, version_stat_date: vm.today})">版本分布</a>
            </li>
            <li ng-class="{active: vm.isActive('appdevelop', 'customevent')}">
              <a ui-sref=".customevent({selected_version: ''})">自定义事件</a>
            </li>
          </ul>
        </li>
        <li>
          <a>用户分析</a>
          <ul>
            <li ng-class="{active: vm.isActive('appdevelop', 'userretain')}">
              <a ui-sref=".userretain({selected_date: 'last7days'})">用户留存</a>
            </li>
            <li ng-class="{active: vm.isActive('appdevelop', 'devicestat')}">
              <a ui-sref=".devicestat({dev_stats: 'resolution', dev_selected_date: 'last30days'})">设备终端</a>
            </li>
          </ul>
        </li>
        <li>
          <a>错误分析</a>
          <ul>
            <li ng-class="{active: vm.isActive('appdevelop', 'errortrend')}">
              <a ui-sref=".errortrend({selected_date: 2, stats: 'crash_count'})">错误趋势</a>
            </li>
            <li ng-class="{active: vm.isActive('appdevelop', 'errorlists')}">
              <a ui-sref=".errorlists({stats: 'unfix'})">错误列表</a>
            </li>
          </ul>
        </li>
        <li>
          <a>测试设置</a>
          <ul>
            <li ng-class="{active: vm.isActive('appdevelop', 'testdevice')}">
              <a ui-sref=".testdevice">测试设备</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <main class="main-section">
      <div ui-view></div>
    </main>
  </div>
</div>
