<div class="wrapper">
  <md-toolbar class="header" style="min-width: 1200px;">
    <div class="md-toolbar-tools">
      <div class="app-logo">
        <a ui-sref=".products">
          <img class="icon" src="assets/images/m-white-128.png" alt="myou">
          <span class="text md-title">萌友</span>
        </a>
      </div>
      <div class="toolbar-nav">
        <a ui-sref=".products">
          <md-button class="md-icon-button nav-item">
            <span class="text">我的产品</span>
          </md-button>
        </a>
        <a ui-sref=".apistatis">
          <md-button class="md-icon-button nav-item">
            <span class="text">API统计</span>
          </md-button>
        </a>
        <a ui-sref=".usermanager">
          <md-button class="md-icon-button nav-item">
            <span class="text">人员管理</span>
          </md-button>
        </a>
        <a ui-sref=".document">
          <md-button class="md-icon-button nav-item" aria-label="More">
            <span class="text">文档中心</span>
          </md-button>
        </a>
      </div>
      <span flex></span>
      <div ng-controller='UserProfileCtrl as vm'>
        <md-button class="md-icon-button action" aria-label="More" ng-click='vm.showModifyUserDialog($event)'>
          <md-icon class="icon"
              md-svg-src="assets/images/material-action/ic_account_circle_24px.svg"
              alt="account">
          </md-icon>
          <span class="text">{{ vm.username }}</span>
        </md-button>
        <md-button class="logout" aria-label="More" ng-click='vm.logout()'>
          <span class="text"> 登出 </span>
        </md-button>
      </div>
    </div>
  </md-toolbar>
  <div class="wrapper" ui-view></div>
</div>

<!-- modify user template -->
<script type="text/ng-template" id="modifyUserModal.html">
  <md-dialog aria-label="修改个人信息" class='alert-dialog modify-user'>
    <md-dialog-content class="sticky-container">
      <md-tabs md-border-bottom>
        <md-tab label="个人信息">
          <md-content class="md-padding">
            <form name='modifyUserProfileForm' class='alert-dialog-form'>
              <md-input-container>
                <label>姓名</label>
                <input required name="name" ng-model="vm.name">
                <div ng-messages="modifyUserProfileForm.name.$error">
                  <div ng-message="required"></div>
                </div>
              </md-input-container>

              <md-input-container>
                <label>邮箱</label>
                <input required name="email" ng-model="vm.email" ng-disabled='true'>
                <div ng-messages="modifyUserProfileForm.email.$error">
                  <div ng-message="required"></div>
                </div>
              </md-input-container>


              <md-input-container>
                <label>所属分组</label>
                <input required name="group" ng-model="vm.group" ng-disabled='true'>
                <div ng-messages="modifyUserProfileForm.group.$error">
                  <div ng-message="required"></div>
                </div>
              </md-input-container>

              <h4 class='error-tip'>{{ vm.errortip }}</h4>

              <div class='md-actions' layout="row">
                <md-button ng-click="vm.cancel($event)" class="md-raised md-accent btn-lg">
                  取消
                </md-button>
                <md-button ng-click="vm.ok('profile')" class="md-raised md-primary btn-lg">
                  确定
                </md-button>
              </div>
            </form>
          </md-content>

        </md-tab>
        <md-tab label="修改密码">
          <form name='modifyUserPassForm' class='alert-dialog-form'>
            <md-content class="md-padding">
              <md-input-container>
                <label>旧密码</label>
                <input required name="oldpass" type='password' ng-model="vm.oldpass">
                <div ng-messages="modifyUserPassForm.oldpass.$error">
                  <div ng-message="required"></div>
                </div>
              </md-input-container>

              <md-input-container>
                <label>新密码</label>
                <input required name="newpass" ng-model="vm.newpass" type='password'>
                <div ng-messages="modifyUserPassForm.newpass.$error">
                  <div ng-message="required"></div>
                </div>
              </md-input-container>


              <md-input-container>
                <label>确认新密码</label>
                <input required name="renewpass" ng-model="vm.renewpass" type='password'>
                <div ng-messages="modifyUserPassForm.renewpass.$error">
                  <div ng-message="required"></div>
                </div>
              </md-input-container>
              <h4 class='error-tip'>{{ vm.errortip }}</h4>
              <div class='md-actions' layout="row">
                <md-button ng-click="vm.cancel($event)" class="md-raised md-accent btn-lg">
                  取消
                </md-button>
                <md-button ng-click="vm.ok('pass')" class="md-raised md-primary btn-lg">
                  确定
                </md-button>
              </div>
            </form>
          </md-content>
        </md-tab>
      </md-tabs>
    </md-dialog-content>
  </md-dialog>
</script>
