<div class="clearfix">
  <span class="main-title">
    {{ vm.event.event_name }}
  </span>

  <md-select class="nopadding normal-size normal-text pull-right" placeholder="Pick" ng-model="vm.radioDate" ng-change='vm.getCheckDate()'> <md-select-label>{{ vm.date.start + ' 到 ' + vm.date.end }}</md-select-label>
    <md-option value="last30days"> 过去30天 </md-option>
    <md-option value="last7days"> 过去7天 </md-option>
    <md-option value="yesterday"> 昨天 </md-option>
    <md-option value="today"> 今天 </md-option>
  </md-select>

  <md-select placeholder="所有版本" class="nopadding normal-text normal-size pull-right" ng-model="vm.selectedVersion" ng-change="vm.onVersionSelect()" style="margin-right: 32px;">
    <md-option value="">所有版本</md-option>
    <md-option ng-repeat="version in vm.versions" value="{{version}}">{{version}}</md-option>
  </md-select>
</div>

<!-- Event data linechart -->
<div>
  <md-radio-group ng-model="vm.radioDataType"  class="pa-pull-right" ng-change='vm.getCheckDataType()'>
    <md-radio-button value="count" class="md-primary">消息数量</md-radio-button>
    <md-radio-button value="session" class="md-primary">消息数/启动次数</md-radio-button>
    <md-radio-button value="user" class="md-primary">独立用户数</md-radio-button>
  </md-radio-group>

  <highchart config="vm.chartConfig"></highchart>
</div>

<div class="group-section">
  <div class="group-title">
    事件统计明细
  </div>
  <table class="table" ts-wrapper>
    <thead>
      <tr>
        <th ts-criteria="event_date|lowercase">日期</th>
        <th ts-criteria="event_count|parseInt">消息数量</th>
        <th ts-criteria="event_count_session_ratio|parseInt">消息数/启动次数</th>
        <th ts-criteria="event_unique_user_count|parseInt">独立用户数</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.tableData" ts-repeat>
        <td>{{ item.event_date }}</td>
        <td>{{ item.event_count }}</td>
        <td>{{ item.event_count_session_ratio }}</td>
        <td>{{ item.event_unique_user_count }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="group-section" ng-repeat="eventLabel in eventLabelData">
  <div class="group-title">
    {{ eventLabel.event_key }}
  </div>
  <table class="table" ts-wrapper>
    <thead>
      <tr>
        <th ts-criteria="event_value|lowercase">参数值</th>
        <th ts-criteria="event_count|parseInt">消息数量</th>
        <th ts-criteria="percent|parseInt">占比</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in eventLabel" ts-repeat>
        <td>{{ item.event_value }}</td>
        <td>{{ item.event_count }}</td>
        <td>{{ item.percent }}&#37;</td>
      </tr>
    </tbody>
  </table>
</div>
