<div class="page-container">

  <!-- Newest Update Table -->
  <div class="group-section group-padding">
    <div class="group-title">
      最新版本
    </div>
    <table class="table" style="min-width: 930px;">
      <thead>
        <tr>
          <th>文件名</th>
          <th>文件大小</th>
          <th>上传时间</th>
          <th ng-hide="vm.isWindowsApp()">版本名</th>
          <th>版本号</th>
          <th ng-show="vm.isWindowsApp()">所有升到最新</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="vm.newestUpdate">
          <td style="min-width: 100px">{{ vm.newestUpdate.fileName }}</td>
          <td style="min-width: 100px">{{ vm.newestUpdate.fileSize | bytes }}</td>
          <td style="min-width: 150px">{{ vm.newestUpdate.createdAt | date: 'yyyy-MM-dd H:mm' }}</td>
          <td style="min-width: 100px" ng-hide="vm.isWindowsApp()">{{ vm.newestUpdate.versionName }}</td>
          <td style="min-width: 100px">{{ vm.newestUpdate.versionCode }}</td>
          <td style="min-width: 100px" ng-show="vm.isWindowsApp()">
            <md-switch class="nopadding md-primary"
            aria-label="toggle" md-no-ink ng-model="vm.updateConfig.updateToLatest" ng-change="vm.toggleUpdateToLatest($event)">
            </md-switch>
          </td>
          <td>
            <rs-dropdown>
              <li ng-click="vm.showUpdateDescDialog($event, vm.newestUpdate)">
                <a href="javascript:void(0)">
                  <i class="fa fa-edit"></i>
                  <span>版本描述</span>
                </a>
              </li>
              <li ng-click="vm.showDeleteUpdateDialog($event, vm.newestUpdate)">
                <a href="javascript:void(0)">
                  <i class="fa fa-times"></i>
                  <span>删除</span>
                </a>
              </li>
            </rs-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Update config table -->
  <div class="group-section group-padding" ng-hide="vm.isWindowsApp() && vm.updateConfig.updateToLatest">
    <div class="group-title">
      更新配置
    <md-radio-group ng-model="vm.test" class="pull-right">
      <md-radio-button value="false" class="md-primary">发布配置</md-radio-button>
      <md-radio-button value="true">测试配置</md-radio-button>
    </md-radio-group>
    </div>
    <table class="table" style="min-width: 900px;">
      <thead>
        <tr>
          <th>文件名</th>
          <th>文件大小</th>
          <th>上传时间</th>
          <th ng-hide="vm.isWindowsApp()">版本名</th>
          <th>源版本</th>
          <th ng-class="{'hidden': vm.test === 'true'}">目标版本</th>
          <th ng-class="{'hidden': vm.test === 'true'}">更新状态</th>
          <th ng-class="{'hidden': vm.test === 'false'}">测试版本</th>
          <th ng-class="{'hidden': vm.test === 'false'}">测试状态</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="updateInfo in vm.updateInfos | orderBy:'versionCode':'true'" ng-hide="$index === 0">
          <td style="min-width: 100px">{{ updateInfo.fileName }}</td>
          <td style="min-width: 100px">{{ updateInfo.fileSize | bytes }}</td>
          <td style="min-width: 150px">{{ updateInfo.createdAt | date:'yyyy-MM-dd H:mm'}}</td>
          <td style="min-width: 100px" ng-hide="vm.isWindowsApp()">{{ updateInfo.versionName }}</td>
          <td style="min-width: 100px">{{ updateInfo.versionCode }}</td>
          <td style="min-width: 100px" ng-class="{'hidden': vm.test === 'true'}">{{ updateInfo.rule.targetVersion | version }}</td>
          <td style="min-width: 100px" ng-class="{'hidden': vm.test === 'true'}">
            <md-switch class="md-primary nopadding"
            aria-label="toggle" md-no-ink ng-model="updateInfo.rule.updatable" ng-change="vm.toggleUpdatable($event, updateInfo, false)">
            </md-switch>
          </td>
          <td style="min-width: 100px" ng-class="{'hidden': vm.test === 'false'}">{{ updateInfo.testRule.targetVersion | version }}</td>
          <td style="min-width: 100px" ng-class="{'hidden': vm.test === 'false'}">
            <md-switch class="nopadding"
            aria-label="toggle" md-no-ink ng-model="updateInfo.testRule.updatable" ng-change="vm.toggleUpdatable($event, updateInfo, true)">
            </md-switch>
          </td>
          <td>
            <rs-dropdown>
              <li ng-click="vm.showUpdateDescDialog($event, updateInfo)">
                <a href="javascript:void(0)">
                  <i class="fa fa-edit"></i>
                  <span>版本描述</span>
                </a>
              </li>
              <li ng-click="vm.showUpdateRuleDialog($event, updateInfo, false)" ng-class="{'hidden': vm.test === 'true'}">
                <a href="javascript:void(0)">
                  <i class="fa fa-cog"></i>
                  <span>更新配置</span>
                </a>
              </li>
              <li ng-click="vm.showUpdateRuleDialog($event, updateInfo, true)" ng-class="{'hidden': vm.test === 'false'}">
                <a href="javascript:void(0)">
                  <i class="fa fa-bug"></i>
                  <span>测试配置</span>
                </a>
              </li>
              <li ng-click="vm.showDeleteUpdateDialog($event, updateInfo)">
                <a href="javascript:void(0)">
                  <i class="fa fa-times"></i>
                  <span>删除</span>
                </a>
              </li>
            </rs-dropdown>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
